services:
  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    depends_on:
      postgres:
        condition: service_healthy

  api:
    build: ./backend
    environment:
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      API_ADDR: ${API_ADDR}
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "${CONTAINER_PORT}:7020"
    depends_on:
      postgres:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully

  migrate:
    image: golang:1.25-alpine
    working_dir: /app
    volumes:
      - ./backend:/app
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      postgres:
        condition: service_healthy
    entrypoint: [
        "sh",
        "-c",
        "go install github.com/pressly/goose/v3/cmd/goose@latest && \
        goose -dir internal/infra/database/migrations postgres \"$DATABASE_URL\" up",
      ]

volumes:
  pgdata:
